<div *ngIf="hero">
    <mat-card class="mat-card">
        <mat-card-header>
            <mat-card-title>{{hero.name}}</mat-card-title>
            <mat-card-subtitle>{{hero.faction}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="'assets/img/' + hero.name + '.jpg'">
        <mat-card-content>
            <span>{{hero.description}}</span>
        </mat-card-content>
        <mat-card-actions class="actions">
            <div *ngIf="isHeroSaved; then removeHeroUser else addHeroUser"></div>
            <ng-template #addHeroUser>
                <button id="addHero" mat-raised-button (click)="addHero()">
                    <mat-icon>add</mat-icon>
                    Añadir
                </button>
            </ng-template>
            <ng-template #removeHeroUser>
                <button id="removeHero" mat-raised-button (click)="removeHero()">
                    <mat-icon>clear</mat-icon>
                    Borrar
                </button>
            </ng-template>
            <button class="back" id="backButton" mat-raised-button (click)="goBack()">
                Atrás
                <mat-icon>reply</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>